     /* Base Styles */
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }
      .container::after {
        content: "Default View";
        display: block;
        font-size: 2em;
        text-align: center;
        padding: 50px 0;
        color: black;
      }

      /* Mobile View */
      @media only screen and (max-width: 599px) {
        body {
          background-color: #2196f3; /* Blue */
        }
        .container::after {
          content: "Mobile View";
          color: white;
        }
      }

      /* Tablet View */
      @media only screen and (min-width: 600px) and (max-width: 899px) {
        body {
          background-color: #4caf50; /* Green */
        }
        .container::after {
          content: "Tablet View";
          color: white;
        }
      }

      /* Desktop View */
      @media only screen and (min-width: 900px)and (max-width:1200px) {
        body {
          background-color: #f46536; 
        }
        .container::after {
          content: "Desktop View";
          color: white;
        }
      }
      /* Desktop View */
      @media only screen and (min-width: 1200px) {
        body {
          background-color: #df3794; 
        }
        .container::after {
          content: "large Desktop View";
          color: white;
        }
    }