@import url("https://fonts.googleapis.com/css??family=Poppins:wght@400;500;600&display=swap");
*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;

}
header .logo span{
    color: #ff0157;
}
header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
} 
.banner{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.4 ),rgba(0,0,0, 0.4 )), url(https://i.postimg.cc/s29LNR86/bg.jpg);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
}
.content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: white
}
.banner .content p{
    font-size: 1em;
    color: white
}
.btn{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    background-color: #ff0157;
    letter-spacing: 2px;
    margin-top: 40px;
    padding: 10px 30px;
    display: inline-block;
}
.about{
    padding: 80px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.row .col50{
    width:48%;
}
.imgbx{
    width:100%;
    min-height: 300px;
}
.imgbx img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.sticky{
    background-color: white;
    box-shadow: 0px 5px 20px gray;
    padding: 10px 100px;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color:#ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.menu {
    padding: 80px;
}
.title{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap:30px;
}
.menu-content .box{
    width:340px;
    border:15px solid #fff;
    box-shadow: 0px 5px 35px lightgray;
}
.menu-content .box .imgbx{
    width: 100%;
    height: 300px;
}
.text{
    text-align: center;
    padding: 15px 0px 5px;
}
.expert .menu-content .box{
    width:250px;
    
}
.expert{
    padding: 80px;
}
.white{
    color: white;
}
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
  background-size: cover;
}

.testimonial .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  max-width: 100%;
}
.testimonial .content .box {
  width: 350px;
  margin: 20px;
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial .content .box img {
  border-radius: 48%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.testimonial .content .box .imgbx {
  width: 100%;
  height: 400px;
}

.text h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #ff0157;
  font-weight: 600;
}

.text p {
  font-style: italic;
}
